.fallback {
    max-width: 400px;

    input, progress {
        width: 100%;
    }

    input[readonly] {
        position: absolute;
        left: 100px;
        width: 300px;
        margin-left: 50px;
    }

    #speed {
        float: right;
    }
}
